@model  School.Models.Teacher
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center font-weight-bold">Bu Öğretmenin Öğrencilerinin Bilgileri</h2><br />
<table>
    <tr>
        <td><label class="control-label col-md-2">Öğrenci</label></td>
        <td>@Html.DisplayFor(model => model.Student)</td>
    </tr>
</table>
<br />

<p>
    @Html.ActionLink("Geri Dön", "Index")
</p>
